* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  display: flex;
  place-items: center;
  min-width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

:root {
  --primary-color: #0033ff;
  --text-color-primary-background: #fff;

  --primary-text-color: #0033ff;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
